<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{>header}}</h1>
    <div class="content">
        <h1>{{errorMessage}} </h1>
        <p style="padding: 2em 0; width:70%; margin: 0 auto;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui corporis accusantium optio quod, laudantium repellat rerum adipisci exercitationem voluptatem consectetur, facilis, earum ad debitis recusandae provident vitae nam eaque ab officia sint? Quaerat laudantium dolores nulla! Vel fugiat odit id. Maiores necessitatibus architecto, excepturi reiciendis in molestias ex sapiente suscipit.</p>
    </div>
    {{>footer}}
</body>
</html>