<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="img/weather.png" type="image/x-icon">
    <title>{{title}}</title>
</head>
<body>
    {{!-- <h1>{{ title }}</h1> --}}
    <h1>{{>header}}</h1>
    <div class="content">
        <img class="profilePic" src="img/skunk.png" alt="">
        <h3>{{ name }}</h3>
        <h4>{{myTitle}} </h4>
    </div>
    {{>footer}}
</body>
</html>