<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="img/weather.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="main.css"> -->
    <title>{{title}}</title>
</head>
<body>
    <h1>{{>header}}</h1>
    {{!-- <h1>{{ title }}</h1> --}}
    {{!-- <h3>Hello {{ name }}</h3> --}}
<script src="js/script.js"></script>
{{>footer}}
</body>
</html>