<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="img/weather.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="main.css"> -->
    <title>{{title}}</title>
</head>
<body>
    <h1>{{>header}}></h1>
    <div class="content weather">
        <p>Use This Page To Search Your Weather</p>
   
        <form action="" method="">
            <input type="text" placeholder='location'>
            <button type="submit">Search</button>
        </form>
        <div class="container forecast">
            <p id="messageOne"></p>
            <p id="messageTwo"></p>
        </div>
     </div>


<script src="js/script.js"></script>
{{>footer}}
</body>
</html>