body {
    width: 100%;
    text-align: center;
    border: none;
    padding: 0;
    margin: 0 auto;
}

nav {
    text-align: center;
    color: #1b1b1b;
    background: #1957a7;
}

nav > ul {
    display: inline-block;
    text-decoration: none;
    font-size: medium;
}

nav > ul > li {
    display: inline;
    padding: 0 2em;
}

ul > li a {
    color: #c7c7c7;
    text-decoration: none;
}

h1 {
    position: relative;
    margin: 0 auto;
}

.profilePic {
    width: 20%;
    padding-top: 2em;
}

/* Footer Area */
footer {
    background: #424242;
    padding: 2em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #2264b9;
    font-weight: 900;
    text-decoration: none;
}

footer > .left {
    width: 40%;
    text-align: left;
    padding: 0 2em;
}