body {
    width: 100%;
    text-align: center;
    border: none;
    padding: 0;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #1b1b1b;
    background: #2a6f8a;
    position: relative;
    margin: 0 auto;
}

.profilePic {
    width: 20%;
    padding-top: 2em;
}