
<footer>
    <hr style='border: 1px solid'>
    <div class="container">
        <div class="left">
            <a href="http://www.stripedsweaterdesign.ca">Striped Sweater Design</a>
            
        </div>
        <div class="right">
            <p style='font-size: 10px;'>Designed by {{name}}</p>
        </div>
    </div>

</footer>